<div class="row">
  <div class="col-sm-6">
    <h1>Thing</h1>
    <dl class="row">
      <dt class="col-sm-3">Client Id</dt>
      <dt class="col-sm-9">{{device.clientId}}</dt>

      <dt class="col-sm-3">Name</dt>
      <dt class="col-sm-9">{{device.name}}</dt>

      <dt class="col-sm-3">Type</dt>
      <dt class="col-sm-9">{{device.thingTypeName}}</dt>

      <dt class="col-sm-3">Version</dt>
      <dt class="col-sm-9">{{device.version}}</dt>
    </dl>
  </div>
  <div class="col-sm-6"></div>
</div>
